* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh ;
    width: 100%;
    padding-bottom: 100px; /* Ajoute de l'espace au bas pour le footer */
    display: flex;
    flex-direction: column; 
    overflow: visible;/* Arrange content vertically */
    background-color: #e9edc9;
    overflow-y: scroll;
}
#cnv {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none; /* Permet de cliquer sur les éléments sous le canvas */
    z-index: 1;  /* S'assurer que le canvas soit au-dessus des autres éléments */
}
/* Style du menu */
nav {
    background-color: #283618; /* Fond plus sombre pour le menu */
    padding: 10px 0;
    width: 150%;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Alignement du logo à gauche */
    position: relative;
    z-index: 2; /* Pour que le menu reste au-dessus de la neige */
    width: 100%; /* Utilise la largeur complète de la fenêtre */
}

nav ul {
    list-style-type: none;
    margin: 0;
    margin-top: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Centre les liens horizontalement */
    width: 100%;  /* Assure que la liste prend toute la largeur */
}
nav ul li {
    margin-right: 20px;
    position: relative;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    padding: 10px 20px;
    display: inline-block;  /* Utilise un bloc en ligne pour ne pas prendre toute la largeur */
    text-align: center;  /* Centre le texte */
    transition: background-color 0.3s ease;
}
nav ul li a:hover {
    background-color: #455A64;  /* Change la couleur de fond lors du survol */
}
/* Dropdown menu */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #444;
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 150px;
    z-index: 1000;
    border-radius: 5px;
    overflow: hidden;
}

.dropdown-menu li a {
    padding: 10px 15px;
    display: block;
    color: white;
    background-color: #444;
}

.dropdown-menu li a:hover {
    background-color: #575757;
}

/* Montrer le menu dropdown au survol */
.dropdown:hover .dropdown-menu {
    display: block;
}
nav img {
    max-height: 50px; /* Taille du logo */
    margin-left: 20px;
}

.footer {
    width: 100%; /* Prend toute la largeur de la page */
    background-color: #283618;
    color: white;
    padding: 30px 20px;
    font-family: 'Arial', sans-serif;
    text-align: center;
    position: fixed; /* Fixe le footer au bas */
    bottom: 0; /* Assure qu'il reste en bas */
    left: 0; /* S'assure qu'il commence du côté gauche */
    right: 0; /* Et va jusqu'au côté droit */
    z-index: 100; /* S'assure qu'il soit au-dessus du contenu */
}


.footer-content {
    max-width: 100%; /* Le contenu occupe toute la largeur disponible */
    margin: 0 auto; /* Centre le contenu horizontalement */
}

.footer-links {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
    display: flex;
    justify-content: center; /* Centre les liens horizontalement */
}

.footer-links li {
    margin: 0 15px; /* Espacement entre les liens */
}

.footer-links a {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease; /* Transition douce pour la couleur */
}

/* Liens des réseaux sociaux */
.footer-socials p {
    margin: 10px 0;
    font-size: 14px;
}

.footer-socials ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center; /* Centre les icônes des réseaux sociaux */
}

.footer-socials li {
    margin: 0 10px; /* Espacement entre les icônes */
}

.footer-socials a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    transition: color 0.3s ease; /* Transition douce pour la couleur */
}

/* Ajout d'un effet au survol des liens */
.footer-links a:hover,
.footer-socials a:hover {
    text-decoration: underline; /* Ajout d'un soulignement au survol */
    color: #f39c12; /* Change la couleur au survol */
}
/* Style du message de bienvenue dans le menu */
nav ul li.user-greeting {
    font-family: 'Arial', sans-serif;
    font-size: 18px; /* Taille du texte */
    color: #4CAF50; /* Vert pour l'utilisateur connecté */
    font-weight: bold; /* Mettre en gras */
    padding: 8px 15px; /* Espacement interne */
    border-radius: 5px; /* Coins arrondis */
    background-color: #f1f1f1; /* Fond clair */
    margin-left: 15px; /* Espacement avec les autres éléments */
    display: flex;
    align-items: center; /* Aligner verticalement */
    transition: background-color 0.3s ease; /* Effet de transition au survol */
}

/* Style au survol */
nav ul li.user-greeting:hover {
    background-color: #e7f7e2; /* Fond légèrement plus clair au survol */
}

/* Pour les administrateurs, un style différent */
nav ul li.user-greeting.admin {
    color: #FF5722; /* Orange pour les administrateurs */
    background-color: #fff3e0; /* Fond très clair */
    border: 2px solid #FF5722; /* Bordure orange */
}

nav ul li.user-greeting.admin:hover {
    background-color: #ffebee; /* Légère couleur au survol pour l'admin */
}

/* Ajout d'un petit icône à côté du nom (facultatif) */
nav ul li.user-greeting::before {
    content: "\1F44B"; /* Icône de main qui salue (👋) */
    margin-right: 8px;
}
/* Style général du formulaire */
form {
    width: 400px;
    margin: 70px auto;
    padding: 40px;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin: 10px 0 5px;
    font-size: 14px;
    font-weight: bold;
}
textarea {
    width: 100%;
    height: 100px;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f3f3f3;
    color: #666;
    font-size: 14px;
    resize: none; /* Désactive le redimensionnement */
    box-sizing: border-box;
}

/* En-tête de l'événement */
.event-header {
    text-align: center;
    margin-bottom: 20px;
}

.event-header h2 {
    font-size: 2em;
    color: #333;
}

.event-header h3 {
    font-size: 1.5em;
    color: #555;
}
input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
/* Centrer le conteneur de réservation */
.reservation-details-container {
    display: flex; /* Active Flexbox */
    flex-direction: column; /* Dispose les éléments en colonne */
    justify-content: center; /* Centre verticalement */
    align-items: center; /* Centre horizontalement */
    min-height: calc(100vh - 150px); /* Ajuste la hauteur pour prendre toute la fenêtre */
    margin: 0 auto; /* Centre horizontalement */
    padding: 20px;
    background-color: #e9edc9; /* Couleur de fond si nécessaire */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optionnel : ajout d'ombre */
    border-radius: 20px; /* Coins arrondis */
}

input[type="password"], input[type="email"], input[type="tel"] {
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}